*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* By defualt overflow is visible */
.container{
    width: 300px;
    height: 200px;
    background-color: aqua;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;

}