.card{
    width: 30vw;
    height: 15vw;
    background-color: aqua;
    border: 5px solid greenyellow;
    padding: 10px;
    margin: 20px 20px 20px 35vw;
}
h2{
    color: yellow;
    text-align: center;
}
h3{
    text-align: center;
    color: gray;
}
p{
    text-align: center;
}
.card:hover h3{
    color: chocolate;
}
.card:hover{
    background-color: pink;
}