.container{
    background-color: aqua;
    margin-left: 200px;
    margin-top: 150px;
    position: relative;
    height: 1000px;
}
.new-container{
    height: 800px;
    background-color: burlywood;
}
.box{
    height: 100px;
    width: 100px;
    display: inline-block;
}
.box1{
    background-color: blue;
}
.box2{
    background-color:yellow;
    /* position: relative; // work on original position
    top: 30px;
    left:20px;
    right: 30px;
    bottom: 30px; */
    /* position: absolute; // work on parent element position if any position not written in parent elemnt then it work on viewport basis.
    top: 10px;
    left: 10px; */

    /* position: fixed; // it find our position on viewport basis
    top:30px */

/* stick on our parent element */
    position: sticky; 
    top:20px;
    left: 30px;
    }
.box3{
    background-color: violet;
}
.box4{
    background-color: green;
}