h2{
    background-color: aqua;
    width: 300px;
    height: 200px;
    /* border-width: 5px;
    border-style: solid;
    border-color: brown; */
    border:5px solid blue;
    border-radius: 15px;
    padding: 10px;
}
ul{
    background-color: turquoise;
}
h3{
    background-color: lightblue;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}